/********************************** Style Guide *********************************************/

:root {
    /*----- Fonts -----*/
    --young_serift: "Young Serif", serif;
    --outfit: "Outfit", sans-serif; 

    /*----- Colors -----*/
    --rose_800: #7A284E;
    --rose_50: #FFF7FB;
    --stone_900: #312E2C;
    --stone_600: #5F564D;
    --stone_150: #E3DDD7;
    --stone_100: #F3E5D7;
    --browm_800: #854632;
    --white: #FFFFFF;
}


/******************************** Globales *************************************************/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: var(--outfit);
    font-size: 1.6rem;
}
h1 {
    font-size: 4rem;
    font-weight: 400;
    color: var(--stone_900);
}
h2 {
    font-size: 2.8rem;
    font-weight: 400;
    color: var(--browm_800);
}
h3 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--rose_800);
}
img {
    max-width: 100%;
    display: block;
    height: auto;
}


/************************************* Utilidades **********************************************/

.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
.bold {
    font-weight: 700;
}
.regular {
    font-weight: 400;
}

/***************************************** Header ************************************************/
.header {
    margin: 3rem;
}
.header h1{
    line-height: 3.6rem;
}
.header p {
    line-height: 2.4rem;
    font-weight: 400;
    color: var(--stone_600);
}

/********************************* Preparation Time ***********************************/
.preparation_time {
    margin: 0 3rem;
    padding: 3rem;
    background-color: var(--rose_50);
    border-radius: 1.2rem;
}
.list {
    list-style: none;
    padding-left: 0;
    line-height: 2.4rem;
    color: var(--stone_900);
    font-weight: 700;
}
.list b {
    font-weight: 400;
}
.list li {
    padding-left: 3rem;
    position: relative;
}
.list li::before {
    position: absolute;
    content: '•'; /* Contenido de la viñeta */
    color: var(--rose_800); /* Color de la viñeta */
    font-size: 1.5em; /* Tamaño de la viñeta */
    line-height: 1em; /* Alinear la viñeta verticalmente */
    left: 0;
}