/********************************** Style Guide *********************************************/

:root {
    /*----- Fonts -----*/
    --young_serift: "Young Serif", serif;
    --outfit: "Outfit", sans-serif; 

    /*----- Colors -----*/
    --rose_800: #7A284E;
    --rose_50: #FFF7FB;
    --stone_900: #312E2C;
    --stone_600: #5FF64D;
    --stone_150: #E3DDD7;
    --stone_100: #F3E5D7;
    --browm_800: #854632;
    --white: #FFFFFF;
}